@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply focus:outline-none;
  }

  main > section {
    max-width: 60rem;
    margin-inline: auto;
  }
}

@layer components {
  .line-container {
    --col-1: 4rem;

    display: grid;
    grid-template-columns: var(--col-1) minmax(0, 1fr);

    @apply xs:[--col-1:5rem] sm:gap-x-16 sm:[--col-1:6rem] md:gap-x-20;
  }

  .border-card {
    @apply border border-black/30 dark:border-white/30;
  }

  .text-heading {
    @apply text-xl sm:text-2xl;
  }
}
